
@{
    ViewBag.Title = "MenuAdd";
    Layout = "~/Areas/Admin/Views/Shared/_SharedAdminLayout.cshtml";
}
@model List<Bibliothek.Model.Entity.Menu>
<link href="~/ckeditor/samples/css/samples.css" rel="stylesheet" />
<script src="~/ckeditor/ckeditor.js"></script>

<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/Home/Index">Ana Sayfa</a></li>
        <li class="breadcrumb-item"><a href="/Admin/CMS/MenuList">Menüler</a></li>
        <li class="breadcrumb-item">Menü Ekle</li>
    </ul>
    <hr>
    <div class="col-md-4">
        <form action="/Admin/CMS/MenuAdd" method="post" style="margin-top:20px;">
            <div class="form-group">
                <label for="ID">Menü Seçiniz</label>
                <select name="ID" id="selector" class="form-control">
                    <option>Lütfen Seçiniz</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.ID">@item.MenuName</option>
                      
                            item.ParentMenuID = item.ID;
                       
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="MenuName">Menü İsmi</label>
                <input type="text" name="MenuName" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label for="MenuContent">Menü İçeriği</label>
                <textarea type="text" name="MenuContent" rows="10" value="" class="form-control ckeditor"></textarea>
            </div>
            <input type="submit" name="name" value="Menü Ekle" class="btn btn-success pull-right" />
        </form>
    </div>
</div>

