@using Bibliothek.Model.Entity
@model Bibliothek.Model.Entity.Order
@{
    ViewBag.Title = "OrderCompleted";
    Layout = "~/Areas/Web/Views/Shared/_SharedWebLayout.cshtml";
}

@{
    Order order = null;
    if (Session["order"] != null)
    {
        order = Session["order"] as Order;
    }

    Customer customer = null;
    if (Session["login"] != null)
    {
        customer = Session["login"] as Customer;
    }
}

<link href="~/Content/Css/login-register.css" rel="stylesheet" />

<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-header">
                <h2 class="text-center">
                    <i class="fa fa-check" aria-hidden="true"></i> Siparişiniz Alındı
                    <img width="30" height="30" src="~/Content/Images/Web/Home/orderCompleted.png" />
                </h2>
            </div>
            <div class="main-content">
                <div class="text-success text-center">
                    <h2>Sayın: @customer.Name @customer.LastName</h2>
                    <br />
                    <h4>Sipariş Numaranız: @order.OrderNo </h4>
                </div>
                <hr />
                <div class="text-center" style="color:black">
                    Siparişinizin tamamlanması için aşağıdaki hesap numarasına ödeme yaparken sipariş numaranızı da belirtmeyi unutmayın<br /><br />
                    <strong>Hesap Adı: </strong> Serdar Kitabevi <br />
                    <strong>IBAN: </strong> TR00 0000 0000 0000 0000 0000 00 <br /><br />
                    <a href="/Home/Index" class="login-button"><strong>Alışverişe devam et</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#CategoryList").toggle();
        $(".footer").hide();
    });
</script>

