@model List<Bibliothek.Model.Entity.Category>
<style>
    .list-group :hover {
        background-color: aqua
    }

    
</style>

    <h1 class="my-4">Kategoriler</h1>
    <div class="list-group">
        @foreach (var item in Model)
        {
            @Html.ActionLink(item.Name, "Index", "Product", new { id = item.ID }, new { @class = "list-group-item" })
        }
    </div>

